* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: #000;
  width: 95vw;
  height: 95vh;
  font-family: "Roboto Mono", monospace;
  color: aliceblue;
  margin: 25px;
  border: 1px solid white;
}

.container {
  width: 100%;
  display: flex;
  width: 95vw;
  height: 95vh;
}

#left {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 40vw;
  height: 95vh;
}

#left header {
  height: 20vh;
}

#left header h1 {
  font-size: 60px;
  font-weight: 200;
}

#left header h2 {
  font-size: 25px;
  font-weight: 100;
}

#left header p {
  font-size: 10px;
  font-weight: 100;
}

#left nav {
  padding-top: 10px;
  height: 60vh;
}

#left nav a {
  color: white;
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
}

#left nav a.animacao {
  position: relative;
}

#left nav a.animacao:hover {
  font-size: 16px;
}

#left nav a.animacao::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 1.0s ease-in-out;
}

#left nav a.animacao:hover::after {
  width: 110%;
}

#left nav a:target {
  border-bottom: 1px solid white;
}

#left footer {
  height: 20vh;
  width: 48vh;
}

#left footer .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#left footer .inside-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

#left footer .inside-icons:hover {
  font-size: 20px;
} 


#left footer p {
  font-size: 10px;
}
#left footer .inside-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55vw;
  height: 95vh;
  padding: 15px;
}

#right .content {
  width: 55vw;
  height: 95vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#right .text-home {
  text-align: right;
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
}

#right .text-home p {
  font-size: 14px;
  font-weight: 200;
}

#right .text-home span {
  font-size: 16px;
  font-weight: 300;
}

#right .text-bio {
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
}

#right img {
  width: 10vw;
  height: 20vh;
  object-fit: cover;
  position: absolute;
  bottom: 34%;
  left: 9%;
  border: 1px solid white;
}

#right .sobre-text {
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
}

#right .cursos-text {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
}

#right .cursos-text h1 {
  font-size: 17px;
  font-weight: 300;
}

#right .cursos-text h3 {
  font-size: 16px;
  font-weight: 400;
}

#right .cursos-text span {
  font-size: 15px;
  font-weight: 300;
}

#right .cursos-text p {
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.card-experiencias {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
}

.card-experiencias h3 {
  font-size: 17px;
  font-weight: 500;
}

.card-experiencias h4 {
  font-size: 15px;
  font-weight: 500;
}

.card-experiencias span {
  font-size: 15px;
  font-weight: 300;
}

.card-experiencias p {
  font-size: 14px;
  font-weight: 400;
}

.card-experiencias li {
  font-size: 14px;
  font-weight: 200;
}

.close-btn {
  display: block;
  text-align: right;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
#teste {
  background-color: #000;
  z-index: 9999;
}

#teste .card-experiencias {
  text-align: left;
  padding: 0;
}

#teste .card-experiencias h3 {
  font-size: 17px;
  font-weight: 400;
}

#teste .card-experiencias span {
  font-size: 14px;
  font-weight: 400;
}

#teste .card-experiencias p {
  font-size: 14px;
  font-weight: 300;
}

#teste h4 {
  font-size: 17px;
  font-weight: 400;
}

#teste li {
  font-size: 14px;
  font-weight: 300;
}

#fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9998;
}

/* Seções com :target para navegação */

#home {
  display: block;
}

#home:target {
  display: block;
}

#home:not(:target) {
  display: none;
}

#bio {
  display: none;
}

#bio:target {
  display: block;
}

#sobre {
  display: none;
}

#sobre:target {
  display: block;
}

#experiencias {
  display: none;
}

#experiencias:target {
  display: flex;
}

#experiencias:not(:target) {
  display: none;
}

#cursos {
  display: none;
}

#cursos:target {
  display: block;
}

#quinto-andar {
  display: none;
}

#quinto-andar:target {
  display: flex;
}

#quinto-andar:not(:target) {
  display: none;
}

#move {
  display: none;
}

#move:target {
  display: flex;
}

#move:not(:target) {
  display: none;
}

#bioritmo {
  display: none;
}

#bioritmo:target {
  display: flex;
}

#bioritmo:not(:target) {
  display: none;
}
